:root {
	--dark-bg: #000088;
	--dark-fg: #ffffff;
	--light-bg: #ffffff;
	--light-fg: #000000;
}


html, body {
	height: 100%;
	width: 100%;
}


body {
	background-color: var(--dark-bg);
	color: var(--dark-fg);
	font-family: "Koh Santepheap", Georgia, serif;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-family: "Rowdies", Georgia, serif;
	text-transform: uppercase;
}

nav {
	text-align: center;
	margin: auto;
	min-width: 360px;
	padding: 1em 0;
}

nav a {
	padding: 0;
	margin: 0 15px;
}

@media screen and (max-width: 509px) {
	nav a {
		margin: 0 5px;
		font-size: 0.8em;
	}
	nav a img {
		height: 0.8em;
	}
}

nav a img {
    height: 3em;
    margin: 0 15px;
    padding: 0;
    position: relative;
    top: 0;
    flex-basis: 100px;
}


.nav-textlink {
	text-decoration: none;
	color: var(--dark-fg);
	position: relative;
	top: -1.5em;
	flex-basis: 100px;
}
.nav-textlink:hover {
	color: #ff0000;
}


main {
	max-width: 800px;
	margin: auto;
}


#index-content {
  margin: 1em;
  margin-top: 10em;
}

#page-content {
	color: var(--light-fg);
	background-color: var(--light-bg);
	padding: 1em 0 0 0;
	min-height: 100%;
}

h1 {
	text-align: center;
}

.contact-paragraph {
	text-align: center;
	font-size: 22px;
	color: black;
}

.services-list-wrapper {
	display: flex;
	justify-content: center;
	gap: 40px;
	padding-left: 40px;
	flex-wrap: wrap;
}

.services-list-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1 1 200px;
}

.services-list-item ul {
	list-style-type: none;
	padding-left: 0;
}
